/* line 1, ../scss/autocomplete.scss */
#acDirective {
  position: relative;
}
/* line 3, ../scss/autocomplete.scss */
#acDirective .row {
  margin-bottom: 1px;
}
/* line 6, ../scss/autocomplete.scss */
#acDirective .progress {
  margin: 0;
  height: 2px;
  position: absolute !important;
  color: #00c6cb;
}
/* line 13, ../scss/autocomplete.scss */
#acDirective #acForm {
  padding: 0;
}
/* line 15, ../scss/autocomplete.scss */
#acDirective #acForm input[type] {
  margin-bottom: 0px !important;
}
/* line 18, ../scss/autocomplete.scss */
#acDirective #acForm label {
  left: 0;
}
/* line 23, ../scss/autocomplete.scss */
#acDirective #acDropdown {
  position: absolute;
  width: 100%;
  max-height: 200px;
  clear: both;
  background-color: white;
  border: 1px solid white;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.35);
  color: #666;
  font-size: 14px;
  font-weight: 400;
  z-index: 99999;
}
/* line 36, ../scss/autocomplete.scss */
#acDirective #acDropdown ul {
  max-height: 200px;
  overflow: auto;
  margin: 0;
}
/* line 40, ../scss/autocomplete.scss */
#acDirective #acDropdown ul li {
  box-sizing: border-box;
  padding: 0 15px;
  height: 40px;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  border: none;
  line-height: 40px;
  display: block;
}
/* line 50, ../scss/autocomplete.scss */
#acDirective #acDropdown ul li:hover {
  background-color: #eeeeee;
}
/* line 53, ../scss/autocomplete.scss */
#acDirective #acDropdown ul li.selected {
  background-color: #eeeeee;
}
