#acDirective {
    position: relative;
    .row {
        margin-bottom: 1px;
    }
    .progress {
        margin: 0;
        height: 2px;
    }
    #acForm {
        padding: 0;
        input[type] {
            margin-bottom: 0px !important;
        }
        label {
            left: 0;
        }
    }

    #acDropdown {
        position: absolute;
        width: 100%;
        max-height: 200px;
        clear: both;
        background-color: white;
        border: 1px solid white;
        border-radius: 2px;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.35);
        color: #666;
        font-size: 14px;
        font-weight: 400;
        z-index: 99999;


        .scrollUl{
            max-height: 200px;
            overflow: auto;
            margin: 0;

          width: 100%;
          height: 700%;
          display: block;
          overflow-x: hidden;
          overflow-y: auto;
          background-color: #F8F8FF;

          li {
                box-sizing: border-box;
                padding: 0 15px;
                height: 40px;
                cursor: pointer;
                outline: none;
                box-shadow: none;
                border: none;
                line-height: 40px;
                display: block;
                &:hover {
                    background-color: #eeeeee;
                }
                &.selected {
                    background-color: #eeeeee;
                }
            }
        }
    }
}
