<form name="searchAutocomplete" id="autocompleteForm-{{ac.id}}">
    <div id="acDirective" class="acDirectiveAutocomplete">
        <div class="row">
            <div id="acForm" class="input-field col s12 has-clear" ng-init="ac.init()">
                <span class="text-input-wrapper"></span>

                <input id="autocomplete-{{ac.id}}"
                       type="text"
                       placeholder="{{ac.placeholder}}"
                       ng-model="ac.searchText"
                       ng-focus="ac.focus($event)"
                       ng-blur="ac.blur($event)"
                       ng-keydown="ac.keydown($event)"
                       ng-disabled="ac.disableInput"
                       autocomplete="off"
                       class="validate">
                <label for="autocomplete-{{ac.id}}" ng-class="{'active': ac.searchText}">{{ac.inputName}}</label>
            </div>
        </div>
        <div class="progress" ng-show="ac.loading">
            <div class="indeterminate"></div>
        </div>
        <div class=" row" ng-hide="ac.hidden" ng-mouseenter="ac.onListEnter()"
             ng-mouseleave="ac.onListLeave()" ng-mouseup="ac.onMouseup()">

            <div id="" class=" s12">
                <ul class="collection" role="menu" aria-labelledby="simple-btn-keyboard-nav">
                    <li class="collection-item avatar waves-effect"
                        ng-repeat="item in ac.itemList | filter: (!ac.remoteMethod ? ac.searchText  : '' )"
                        ng-click="ac.selectItem(item)"
                        ng-class="{'selected': $index === ac.index }">

                        <!--<div>-->
                            <img src="images/annie.jpg" alt="" class="circle">
                            <span class="title">Title</span>
                            <p>First Line <br>
                                Second Line
                            </p>

                        <!--</div>-->
                    </li>
                    <li class="waves-effect"
                        ng-hide="ac.hidden"
                        ng-if=" ac.itemList.length == 0">
                        Your search "{{ac.searchText}}" Not Found
                    </li>
                </ul>
            </div>


        </div>
    </div>
</form>