<div class="main_auto">
<div class="autocompleteDiv input-field col s12">
  <!--<material-autocomplete-->
    <!--ac-input-name="Data"-->
    <!--ac-items="test.data_list"-->
    <!--ac-selected-item="test.dataResult"-->
    <!--ac-display-property="value"-->
    <!--ac-search-text="test.search"-->
     <!--ac-selected-item-change="test.fetchProductList(test.data_list)">-->
  <!--</material-autocomplete>-->
</div>

  <div class=" input-field col s12 m6" ng-controller="AddAutocompleteCntrl as up">
      <material-autocomplete
        ac-input-name="Products"
        ac-items="test.productList"
        ac-selected-item="test.dataResultprod"
        ac-display-property="name"
        ac-selected-item-change="test.fetchProductList(test.productList)"
        ac-search-text="test.searchTextProduct"
        ac-remote-method="test.fetchDataFromServer(test.searchTextProduct)"
        ac-place-holder=" &#128269; &nbsp; &nbsp; Search the items here...."
        ac-input-minlength="2">
      </material-autocomplete>
      <br>
      <br>
      <br>
      <br>
      <br>
      <!--<material-autocomplete-->
              <!--ac-input-name="Products"-->
              <!--ac-items="test.productList"-->
              <!--ac-selected-item="test.dataResultp"-->
              <!--ac-display-property="name"-->
              <!--ac-selected-item-change="test.fetchProductList(test.productList)"-->
              <!--ac-search-text="test.searchProduct"-->
              <!--ac-remote-method="test.fetchDataFromServer(test.searchProduct)"-->
              <!--ac-place-holder="Enter to the search..."-->
              <!--ac-input-minlength="2">-->
          <!--</material-autocomplete>-->
      <!---->
  </div>
</div>
