/* line 1, ../scss/list.scss */
.acDirectiveAutocomplete {
  position: relative;
}
/* line 3, ../scss/list.scss */
.acDirectiveAutocomplete .row {
  margin-bottom: 1px;
}
/* line 7, ../scss/list.scss */
.acDirectiveAutocomplete .progress {
  margin: 0;
  height: 2px;
}
/* line 11, ../scss/list.scss */
.acDirectiveAutocomplete #acForm {
  padding: 0;
  position: relative;
}
/* line 15, ../scss/list.scss */
.acDirectiveAutocomplete #acForm .text-input-wrapper input {
  padding: 0 0;
  margin: 0 0;
  font: inherit;
}
/* line 20, ../scss/list.scss */
.acDirectiveAutocomplete #acForm .clearBtn {
  cursor: pointer;
  color: #888;
  font-size: 23px;
  position: absolute;
  top: 4px;
  right: 0px;
}
/* line 28, ../scss/list.scss */
.acDirectiveAutocomplete #acForm .clearBtn:hover {
  color: #000;
}
/* line 31, ../scss/list.scss */
.acDirectiveAutocomplete #acForm input[type] {
  margin-bottom: 0px !important;
}
/* line 34, ../scss/list.scss */
.acDirectiveAutocomplete #acForm input[type].valid {
  border-bottom: 1px solid #000000;
  box-shadow: none !important;
}
/* line 39, ../scss/list.scss */
.acDirectiveAutocomplete #acForm label {
  left: 0;
}
/* line 43, ../scss/list.scss */
.acDirectiveAutocomplete #acForm .errorMsg {
  position: absolute;
  top: 35px;
  font-size: 13px;
  color: red;
  right: 0;
}
/* line 52, ../scss/list.scss */
.acDirectiveAutocomplete .acDropdownAutocomplete {
  position: absolute;
  width: 100%;
  max-height: 200px;
  clear: both;
  background-color: white;
  border: 1px solid white;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.35);
  color: #666;
  font-size: 14px;
  font-weight: 400;
  z-index: 99999;
}
/* line 66, ../scss/list.scss */
.acDirectiveAutocomplete .acDropdownAutocomplete ul {
  max-height: 200px;
  overflow-y: auto;
  margin: 0;
}
/* line 70, ../scss/list.scss */
.acDirectiveAutocomplete .acDropdownAutocomplete ul li {
  box-sizing: border-box;
  padding: 0 15px;
  height: 40px;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  border: none;
  line-height: 40px;
  display: block;
  width: 100%;
}
/* line 81, ../scss/list.scss */
.acDirectiveAutocomplete .acDropdownAutocomplete ul li:hover {
  background-color: #eeeeee;
}
/* line 84, ../scss/list.scss */
.acDirectiveAutocomplete .acDropdownAutocomplete ul li.selected {
  background-color: #eeeeee;
}
